body {
  font-family: Inter;
}
.main {
  border-bottom: 3px solid #e3e4eb;
  max-width: 944px;
  margin-left: auto;
  margin-right: auto;
}
.container-about {
  margin-left: auto;
  margin-right: auto;
  max-width: 632px;
  padding-bottom: 100px;
}
.about-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: 0.008em;
  color: #28293d;
  max-width: 503px;
  margin-bottom: 32px;
  .reza-color {
    background-color: #fae5b2;
    padding: 3px;
  }
  .about-color {
    color: #50a1f3;
  }
}
.first-text {
  font-size: 18px;
  line-height: 155%;
  color: #555770;
  margin-top: 32px;
}

.second-text {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 155%;
  color: #555770;
}
.link-text {
  color: #50a1f3;
  text-decoration: underline;
}

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.gallery-img {
  margin-bottom: 22px;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 375px;
    margin-bottom: 40px;
  }

  .container-about {
    margin-top: 100px;
    max-width: 375px;
    padding-bottom: 64px;
  }
  .img-about-title {
    width: 100vw;
    margin-left: -16px;
  }
  .gallery-img {
    width: 164px;
  }
}
