.container-books {
  max-width: 625px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.books-title {
  max-width: 625px;
}
.books-title-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 162.5%;
  color: #555770;
  margin-top: 30px;
}

.books-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  max-width: 180px;
  margin-bottom: 38px;
}

.books-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 157%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #28293d;
  text-decoration: none;
  margin-right: 32px;
}
.active-books,
.books-link:hover {
  border-bottom: 1px solid #50a1f3;
  color: #50a1f3;
}

.books-reading-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #28293d;
  margin-bottom: 24px;
}

.books-read-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #28293d;
  margin-top: 45px;
  margin-bottom: 24px;
}

.books-img-reading {
  margin-right: 16px;
}

.books-img-reading:hover {
  position: relative;
  left: 5px;
  background: #fae5b2;
  bottom: 7px;
  box-shadow: -7px 7px #fae5b2;
}

.books-list {
  max-width: 639px;
}

.books-list-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 24px;
}
.book-img {
  margin-bottom: 35px;
}
.book-img:hover {
  position: relative;
  left: 5px;
  background: #fae5b2;
  bottom: 7px;
  box-shadow: -7px 7px #fae5b2;
}

.books-btn-more {
  background: #50a1f3;
  border-radius: 4px;
  border-style: none;
  height: 40px;
  width: 176px;
  font-weight: 500;
  font-size: 14px;
  line-height: 184%;
  color: #ffffff;
  margin-top: 34px;
  margin-bottom: 70px;
}

.books-btn-more-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.books-title-post {
  max-width: 640px;
  margin: 0 auto;
}

.books-title-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.books-amazon-link {
  margin-top: 40px;
}

.books-title-author {
  font-weight: 500;
  font-size: 18px;
  line-height: 157%;
  margin-bottom: 0;
  margin-top: 10px;
  color: #8e90a6;
}
.star {
  padding-right: 3px;
}

.books-title-rating-container {
  max-width: 267px;
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.books-title-description {
  max-width: 637px;
  font-size: 18px;
  line-height: 155%;
  color: #555770;
}
.books-title-social {
  max-width: 624px;
  margin: 0 auto;
  margin-top: 24px;
  padding-bottom: 43px;
  border-bottom: 1px solid #e6e6e6;
}

.highlights-container-main {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 70px;
  border-bottom: 1px solid #e6e6e6;
}

.highlights-posts {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: space-around;
  padding-bottom: 40px;
}

.photos-container-main {
  max-width: 624px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.book-title-photos {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.highlights-text {
  padding: 25px 88px;
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .container-books-main {
    padding-bottom: 73px;
  }
  .books-btn-more {
    margin: 0 auto;
    margin-top: 40px;
  }
  .books-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: 1;
    max-width: 350px;
  }

  .books-amazon-link {
    display: none;
  }
  .books-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 157%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #28293d;
    margin-right: 32px;
    border-bottom: solid 1px #c7c8d9;
    margin-right: 0;
  }
  .active,
  .books-link:hover {
    color: #50a1f3;
    border-bottom: solid 2px #50a1f3;
    text-decoration: none;
  }

  .book-title-photos {
    flex-wrap: wrap;
  }

  .highlights-container-main {
    max-width: 350px;
  }
  .highlights-posts {
    max-width: 350px;
  }
}
