body {
  font-family: Inter;
}

.container {
  max-width: 944px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  border-bottom: 3px solid #e3e4eb;
  padding-bottom: 30px;
  .rizas-preview {
    margin: 0 100px 16px 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.posts {
  border-bottom: 3px solid #e3e4eb;
  padding-bottom: 107px;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #28293d;
  margin: 0;
}

.about-rezas {
  line-height: 160%;
  font-size: 17px;
  color: #555770;
  max-width: 550px;
  margin-bottom: 20px;
}

.p-join {
  font-weight: 500;
  font-size: 14.2px;
  max-width: 465px;
  line-height: 157%;
  color: #28293d;
  margin-bottom: 16px;
  margin: 0;
  margin-bottom: 16px;
}
.hero-section {
  display: flex;
  flex: 1;
}

.link-section {
  display: flex;
  margin-bottom: 48px;
  .btn-start {
    background: #fafafc;
    border: 2px solid #fae5b2;
    box-sizing: border-box;
    border-radius: 4.59821px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 157%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2f80ed;
    box-shadow: -4px 3px #fff8e6;
    width: 138px;
    height: 50px;
    justify-content: center;
  }
  .twitter-btn {
    margin-left: 37px;
  }
  .twitter-btn:hover {
    transform: scale(1.5);
  }
}

.info-section {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.recent-posts {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #555770;
  margin-top: 48px;
  margin-bottom: 0;
}

.footer-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  color: #28293d;
  margin-bottom: 40px;
}

.btn-posts {
  background: #50a1f3;
  border-radius: 4px;
  border-style: none;
  height: 40px;
  width: 176px;
  font-weight: 500;
  font-size: 14px;
  line-height: 184%;
  color: #ffffff;
  margin-top: 34px;
}

.btn-link {
  margin-left: auto;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 343px;
  }

  .about-rezas {
    max-width: 345px;
    font-size: 16px;
  }
  .twitter-btn {
    display: none;
  }
  .btn-posts {
    margin-top: 0;
  }

  .p-join {
    max-width: 343px;
  }
  .info-section {
    max-width: 343px;
  }
  .posts {
    padding-bottom: 37px;
  }

  .hero-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-section {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  .h1-rezas {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .rizas-preview {
    align-items: center;
  }
  .btn-link {
    margin: 0 auto;
  }
}
