body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
}
.now-main {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;
}

.test-title {
  margin-bottom: 11px;
  margin-top: 32px;
}
.post-text {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 184%;
  color: #555770;
}
.test-container {
  margin-bottom: 35px;
}

.span-number {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16x;
  line-height: 157%;
  font-feature-settings: "tnum" on, "onum" on;
  color: #ffbf5f;
}
@media screen and (max-width: 576px) {
  .now-container {
    padding-bottom: 73px;
  }
}
