.post-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: #28293d;
}

.post-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155%;
  color: #555770;
}
