.post-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: #28293d;
}

.post-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 155%;
  color: #555770;
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .post-title {
    margin-top: 15px;
  }
}
